.apartments-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  width: 400px;
}

.content ul {
  list-style: none;
  margin: 0;
}

.card-footer {
  display: flex;
  justify-content: center;
}

.card-buttons {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-buttons li:first-child {
  margin-right: 60px;
}

.card-buttons button {
  width: 100px;
}